{% extends "_root.html" %}

{% block pagetitle %}{{ post.title }}{% endblock %}
{% block pageauthor %}{{ post.author }}{% endblock %}
{% block pagedesc %}{{ "'" ~ post.title ~ "' by " ~ post.author ~ " on Lily Lab" }}{% endblock %}
{% block baseurl %}..{% endblock %}

{% block pagecontent %}
		<article>
			<header id="postHeader">
				<h1 id="postTitle">{{ post.title }}</h1>
				<span id="postDetails">
					posted on <time datetime="{{ post.date }}">{{ post.datestr }}</time> by <address>{{ post.author }}</address>
				</span>
			</header>

{{ post.main }}
		</article>

		<nav id="nextPrevLinks">
			{% if post != POSTLIST|first %}
			<a href="blog/{{ POSTLIST[POSTLIST.index(post) - 1].path }}">« Next Post</a> | 
			{% endif %}
			<a href="blog">Archive</a>
			{% if post != POSTLIST|last %} 
			| <a href="blog/{{ POSTLIST[POSTLIST.index(post) + 1].path }}">Prev Post »</a>
			{% endif %}
		</nav>
{% endblock %}