		<aside>
			<nav>
				<h2>Navigation</h2>
				<ul role="list">
					<li>
						<a href="">Home</a>
					</li>
					<li>
						<a href="about">About Us</a>
					</li>
					<li>
						<a href="games">Games</a>
					</li>
					<li>
						<a href="blog">Blog</a>
					</li>
				</ul>
			</nav>

			<nav>
				<h2>Links</h2>
				<ul role="list">
					<li>
						<a href="https://proflilyvn.itch.io" target="_blank">Itch</a>
					</li>
					<li>
						<a href="https://twitter.com/proflilyvn" target="_blank">Twitter</a>
					</li>
				</ul>
			</nav>
		</aside>