<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0">

	<title>{% block pagetitle %}{% endblock %} / Lily Lab</title>
	<meta
		name="author"
		content="{% block pageauthor %}Prof. Lily{% endblock %}">
	<meta
		name="description"
		content="{% block pagedesc %}Prof. Lily's online homepage.{% endblock %}">

	<base href="{% block baseurl %}.{% endblock %}">
	<link
		rel="icon"
		href="css/img/favicon.png"
		type="image/x-icon"/>
	<link
		rel="stylesheet"
		href="css/style.css"
		type="text/css" media="all">
</head>

<body>
	<header>
		<h1>Lily Lab</h1>
	</header>

	{% block pagecontent %}
	{% endblock %}

	{% include "_asidenav.html" %}
	{% include "_asidelist.html" %}

	<footer>
		Lily Lab is maintained by <a href="about">Prof. Lily and her team</a>, and hosted by <a href="https://neocities.org">Neocities</a>.
	</footer>
</body>

</html>