@font-face {
	font-family: "Quicksand";
	src: url("fonts/Quicksand-Medium.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Quicksand";
	src: url("fonts/Quicksand-Bold.ttf") format("truetype");
	font-weight: bold;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	background-image: url("img/bg.png");
		background-attachment: fixed;
	font-family: "Quicksand", sans-serif;
		font-size: 16px;
		color: #222222;
}

body {
	display: grid;
		grid-template:
			"hd hd hd" max-content
			"a1 mn a2" max-content
			".. ft .." max-content
			/ minmax(170px, 1fr) 4fr 250px;
		gap: 1rem;
	background-color: transparent;
	width: 100%;
	max-width: 1300px;
	padding: 0 1rem;
	margin: 0.75rem auto 4rem;
}
body > header {
	grid-area: hd;
}
body > aside:first-of-type {
	grid-area: a1;
}
body > aside:last-of-type {
	grid-area: a2;
}
body > footer {
	grid-area: ft;
}
body > :is(main, article) {
	grid-area: mn;
}

a:link {
	color: #DD4A4A;
	text-decoration-line: none;
}
a:visited {
	color: #DD4A4A;
}
a:hover {
	text-decoration-line: underline;
}
address {
	display: inline;
	font-style: normal;
}

body > header {
	padding-left: 1rem;
	font-size: 1.25rem;
}

body > aside {
	display: grid;
		align-content: start;
		gap: 1rem;
	height: max-content;
}
body > aside nav {
	border-bottom: 1px solid #D8D8D8;
}
body > aside h2 {
	background-color: #222222;
	padding: 5px 10px;
	border-left: 6px solid #222222;
	border-radius: 2px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 1.125rem;
}
body > aside nav > a:hover {
	text-decoration-line: none;
}
body > aside nav > a > h2 {
	border-left-color: #DD4A4A;
}
body > aside ul {
	margin: 0.75rem 1rem 1rem 2rem;
	font-size: 0.9rem;
}
body > aside li {
	margin: 0.3rem 0;
}

body > footer {
	font-size: 0.875rem;
	text-align: right;
}

main, article {
	background-color: #FFFFFF;
	padding: 0 min(6%, 2.5rem);
	border-left: 6px solid #DD4A4A;
	border-radius: 2px;
}
main {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

article header {
	padding: 2.5rem 0;
}
article header h1 {
	margin-bottom: 0.9rem;
	font-size: 2rem;
}
article header time,
article header address {
	font-weight: bold;
}
article footer {
	padding: 2rem 0;
	text-align: center;
}
article .main {
	padding: 2.5rem 0;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
}

.main h1 {
	margin-bottom: 1.3rem;
	font-size: 2rem;
}
.main h2 {
	margin: 1.2rem 0;
	font-size: 1.5rem;
}
.main p {
	margin: 1.5rem 0;
	text-align: justify;
	line-height: 1.6rem;
}
.main p.center {
	margin: 2rem 0;
	text-align: center;
}
.main ul {
	margin: 1rem 0;
	padding-left: 2.5rem;
}
.main li {
	line-height: 1.6rem;
}
.main figure.quote {
	margin: 2rem 0;
}
.main figure.quote blockquote {
	margin: 0 2.5rem;
}
.main figure.quote blockquote p {
	margin-top: 0;
}
.main figure.quote figcaption {
	line-height: 1.6rem;
}
.main figure.image {
	margin: 2.5rem 0;
}
.main figure.image img {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 0;
}
.main figure.image figcaption {
	margin-top: 0.4rem;
	font-size: 0.9rem;
	text-align: center;
}
.main hr {
	border: 0;
	border-bottom: 1px solid #D8D8D8;
	margin: 2.5rem 0;
}
.main iframe {
	width: 100%;
}
.main > :first-child {
	margin-top: 0 !important;
}
.main > :last-child {
	margin-bottom: 0 !important;
}

.blogarchive ul {
	padding-left: 0;
	list-style: none;
}
.blogarchive li {
	display: grid;
		grid-template-columns: 5.5rem 1fr;
		grid-template-rows: max-content 1fr;
		place-items: start;
		gap: 0 1rem;
	margin-bottom: 0.75rem;
	line-height: 1.5rem;
}
.blogarchive time {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.blogarchive span {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.blogarchive a {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

@media screen and (max-width: 1069px) {
	body {
		grid-template:
			"hd hd" max-content
			"a1 mn" max-content
			"a2 a2" max-content
			"ft ft" max-content
			/ minmax(170px, 1fr) 4fr;
	}

	body > aside:last-of-type {
		display: grid;
			grid-template-columns: 2fr 3fr;
	}
}

@media screen and (max-width: 803px) {
	body {
		grid-template:
			"hd" max-content
			"a1" max-content
			"mn" max-content
			"a2" max-content
			"ft" max-content
			/ 1fr;
	}

	body > aside:first-of-type {
		display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			row-gap: 0.3rem;
		place-self: unset;
	}
	body > aside:first-of-type nav {
		border-bottom: none;
	}
	body > aside:first-of-type h2 {
		display: none;
	}
	body > aside:first-of-type ul {
		margin: 0;
		font-size: 1rem;
	}
	body > aside:first-of-type li {
		display: inline;
		margin: 0 0.5rem;
	}

	body > aside:last-of-type {
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;
	}
}