@font-face {
	font-family: "Quicksand";
	src: url("fonts/Quicksand-Medium.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Quicksand";
	src: url("fonts/Quicksand-Bold.ttf") format("truetype");
	font-weight: bold;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	background-image: url("img/bg.png");
		background-attachment: fixed;
	font-family: "Quicksand", sans-serif;
		font-size: 16px;
		color: #222222;
}

body {
	display: grid;
		grid-template:
			"head head" max-content
			"menu main" max-content
			"foot foot" max-content
			/ 5fr 17fr;
		gap: 1rem;
	box-sizing: content-box;
	background-color: transparent;
	max-width: 1100px;
	padding: 0 1rem;
	margin: 0.75rem auto 4rem;
}

a:link {
	color: #DD4A4A;
	text-decoration-line: none;
}
a:visited {
	color: #DD4A4A;
}
a:hover {
	text-decoration-line: underline;
}
address {
	display: inline;
	font-style: normal;
}

.siteheader {
	grid-area: head;
	padding-left: 1rem;
	font-size: 1.25rem;
}

.sitemenu {
	display: grid;
		align-content: start;
		gap: 1rem;
	grid-area: menu;
	height: max-content;
}
.sitemenu nav {
	border-bottom: 1px solid #D8D8D8;
}
.sitemenu nav > a {
	text-decoration-line: none;
}
.sitemenu h2 {
	background-color: #222222;
	padding: 5px 10px;
	border-left: 6px solid #DD4A4A;
	border-radius: 2px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 1.125rem;
}
.sitemenu nav:first-of-type h2 {
	border-left-color: #222222;
}
.sitemenu ul {
	margin: 0.75rem 1rem 1rem 2rem;
	font-size: 0.9rem;
}
.sitemenu li {
	margin: 0.3rem 0;
}

.sitefooter {
	grid-area: foot;
	font-size: 0.875rem;
	text-align: right;
}

main, article {
	grid-area: main;
	background-color: #FFFFFF;
	border-left: 6px solid #DD4A4A;
	border-radius: 2px;
}
main {
	padding: 2rem 5%;
}
article {
	padding: 0 5%;
}

article header {
	padding: 3rem 0;
}
article header h1 {
	margin-bottom: 0.9rem;
	font-size: 2rem;
}
article header time,
article header address {
	font-weight: bold;
}
article footer {
	padding: 2rem 0;
	text-align: center;
}
article .main {
	padding: 2rem 0;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
}

.main h1 {
	margin-bottom: 1.3rem;
	font-size: 2rem;
}
.main h2 {
	margin: 1.2rem 0;
	font-size: 1.5rem;
}
.main p {
	margin: 1.5rem 0;
	text-align: justify;
	line-height: 1.6rem;
}
.main .center {
	margin: 2rem 0;
	text-align: center;
}
.main ul {
	margin: 1rem 0;
	padding-left: 2.5rem;
}
.main li {
	line-height: 1.6rem;
}
.main img {
	height: auto;
	max-width: 100%;
	margin: 1rem 0;
}
.main figure {
	margin: 2rem 0;
}
.main blockquote {
	margin: 1rem 2.5rem;
}
.main figcaption {
	line-height: 1.6rem;
}
.main hr {
	margin: 2.5rem 0;
}
.main iframe {
	width: 100%;
}

@media screen and (max-width: 900px) {
	body {
		display: grid;
			grid-template:
				"head" max-content
				"main" max-content
				"menu" max-content
				"foot" max-content
				/ 1fr;
	}

	.sitemenu {
		grid-template-columns: repeat(3, 1fr);
		border-bottom: 1px solid #D8D8D8;
	}
	.sitemenu nav {
		border-bottom: none;
	}
}